* {
    margin: 0;
    padding: 0;
    font-size: $font-size-default;
    
    @include setBrowsers(box-sizing, border-box);
}

body {
    font-family: $font-poppins;
    color: $font-color-default;
    background-color: $color-background-light;

    @include transition;

    h1, h2 {
        color: $color-neutral-grayish-blue-1;
    }

    img {
        width: 100%;
    }

    input:not([type=checkbox]), select {
        padding: 8px;
        border: 1px solid $color-neutral-grayish-blue-3;
        outline: 0;
        font-family: inherit;

        @include borderRadius($radius-small);
    }

    &.dark_theme {
        background-color: $color-background-dark;
        color: $color-white;

        h1, h2 {
            color: $color-white;
        }
    }
}