* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font-size-default;
}

body {
    font-family: $font-poppins;
    color: $font-color-default;
    background-color: $color-background-light;
}