.main_footer {
    @include containerFull;

    &_content {
        @include container;
        font-size: $font-size-small;
        text-align: center;
        color: $color-neutral-grayish-blue-3;

        a {
            text-decoration: none;
            color: $color-neutral-grayish-blue-1;
            font-size: inherit;

            @include transition;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@import "footer-dark";