.main_header {
    @include containerFull;

    padding: 20px 0;
    border-bottom: 1px solid $color-neutral-blue-1;

    &_content {
        @include flex(space-between, center, nowrap);
        @include container;

        &_title {
            h1 {
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-weight: 400;

                @include setResponsiveDesign(500px) {
                    font-size: $font-size-big;
                }
            }
        }

        &_theme {
            &_switch {
                width: 60px;
                height: 30px;
                border: 3px solid $color-neutral-grayish-blue-1;
                cursor: pointer;

                @include borderRadius(30px);
                @include relative;

                .switch {
                    width: 24px;
                    height: 24px;
                    background-color: $color-neutral-grayish-blue-1;
                    color: $color-background-light;
                    border: 1px solid $color-background-light;

                    @include rounded;
                    @include flex;
                    @include transition;

                    &.active {
                        transform: translateX(calc(100% + 6px));
                    }

                    i {
                        font-size: $font-size-small;
                    }
                }

                &_card {
                    @include absolute(calc(100% + 14px), -3px);
                    z-index: 2;
                    width: 60px;
                    height: 60px;
                    display: none;

                    @include transition;
    
                    &::before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        background-color: $color-neutral-grayish-blue-1;

                        @include absolute(-6px, 50%);
                        transform: translateX(-50%) rotate(45deg);
                        z-index: -1;
                        
                        @include transition;
                    }

                    .img {
                        width: 100%;
                        height: 100%;
                        border: 3px solid $color-neutral-grayish-blue-1;
    
                        @include rounded;
                        @include bgImage;
                        @include transition;
                    }
                }
            }
        }
    }
}

@import "header-dark";