.main_header {
    @include containerFull;

    padding: 20px 0;
    border-bottom: 1px solid $color-neutral-blue-1;

    &_content {
        @include flex(space-between, center, nowrap);
        @include container;

        &_title {
            h1 {
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-weight: 400;

                @include setResponsiveDesign(500px) {
                    font-size: $font-size-big;
                }
            }
        }
    }
}

@import "header-dark";