.main_users {
    @include containerFull;
    margin-top: 40px;

    &_content {
        @include container;

        &_header {
            @include flex(flex-start);
            row-gap: 20px;
            margin-bottom: 40px;

            &_title {
                @include flex1;

                h2 {
                    font-size: $font-size-big;
                }
            }

            &_create {
                @include flex1;

                button {
                    @include button;
                    @include flex;

                    i {
                        width: 20px;
                        height: 20px;
                        border: 1px solid $color-white;
                        @include flex;
                        @include rounded;
                    }
                }
            }
        }

        &_selectall {
            padding: 20px 12px;
            background-color: $color-neutral-blue-2;
            margin-bottom: 40px;

            @include borderRadius;

            input {
                margin-right: 10px;
            }
        }

        &_list {
            @include flex(flex-start);

            &_user {
                @include flex1;
                @include flex(flex-start);
                @include borderRadius;
                
                column-gap: 20px;
                padding: 20px 12px;

                &:nth-child(odd) {
                    background-color: $color-neutral-blue-2;
                }

                &_select {
                    @include flexBasis(20px, 20px);
                }

                &_photo {
                    @include flexBasis(60px, 20px);

                    img {
                        @include containerFull;
                        @include borderRadius($radius-small);
                    }
                }

                &_name {
                    @include flex1;
                    font-weight: 700;
                    padding-left: 30px;
                }

                &_email {
                    @include flex1;
                    font-size: $font-size-small;
                    margin-bottom: 20px;
                    padding-left: 30px;
                }

                &_level, &_status, &_actions {
                    @include flex3(20px);
                    font-size: $font-size-small;
                }

                &_status {
                    button {
                        @include button;
                        padding: 3px 6px;
                        background: none;
                        color: $color-neutral-grayish-blue-3;
                        border: 1px solid $color-neutral-grayish-blue-3;
                        @include flex(center, center, nowrap);

                        i {
                            margin-right: 6px;
                            font-size: 0.6em;
                        }
                    }

                    &.active {
                        button {
                            color: $color-neutral-grayish-blue-1;

                            i {
                                color: $color-tertiary-success;
                            }
                        }
                    }
                }

                &_actions {
                    @include flex(flex-end);
                    column-gap: 20px;

                    button {
                        background: none;
                        border: none;
                        cursor: pointer;

                        &.edit {
                            color: $color-neutral-grayish-blue-2;
                        }

                        &.delete {
                            color: $color-tertiary-error;
                        }
                    }
                }
            }
        }
    }
}