.main_users {
    @include containerFull;
    margin-top: 40px;

    &_content {
        @include container;

        &_header {
            @include flex(flex-start);
            row-gap: 20px;
            margin-bottom: 40px;

            @include setResponsiveDesign(500px) {
                row-gap: 0;
            }

            &_title {
                @include flex1;

                @include setResponsiveDesign(500px) {
                    @include flex2;
                }

                h2 {
                    font-size: $font-size-big;
                }
            }

            &_create {
                @include flex1;

                @include setResponsiveDesign(500px) {
                    @include flex2;
                    @include flex(flex-end);
                }

                button {
                    @include button;
                    @include flex;

                    i {
                        width: 20px;
                        height: 20px;
                        border: 1px solid $color-white;
                        @include flex;
                        @include rounded;
                    }
                }
            }
        }

        &_selectall {
            padding: 20px 12px;
            background-color: $color-neutral-blue-2;
            margin-bottom: 40px;

            @include borderRadius;

            @include setResponsiveDesign(900px) {
                padding: 20px;
            }

            input {
                margin-right: 10px;
                cursor: pointer;
            }
        }

        &_list {
            @include flex(flex-start);

            &_user {
                @include flex1;
                @include flex(flex-start);
                @include borderRadius;
                
                gap: 10px;
                padding: 20px 12px;

                @include transition;

                @include setResponsiveDesign(900px) {
                    flex-wrap: nowrap;
                    gap: 20px;
                    padding: 20px;
                }

                &:hover, &.selected {
                    background-color: $color-neutral-blue-1;
                }

                &:nth-child(odd) {
                    background-color: $color-neutral-blue-2;

                    &:hover, &.selected {
                        background-color: $color-neutral-blue-1;
                    }
                }

                &_select {
                    @include flexBasis(20px, 10px);

                    @include setResponsiveDesign(1024px) {
                        @include flexBasis(3%, 20px);
                    }

                    input {
                        cursor: pointer;
                    }
                }

                &_photo {
                    @include flexBasis(60px, 10px);

                    @include setResponsiveDesign(900px) {
                        @include flexBasis(100px, 20px);
                    }

                    @include setResponsiveDesign(1024px) {
                        @include flexBasis(6%, 20px);
                    }

                    img {
                        @include containerFull;
                        @include borderRadius($radius-small);
                    }
                }

                &_info {
                    @include flexBasis(calc(100% - 20px - 60px), 10px);
                    @include flex(flex-start);

                    @include setResponsiveDesign(900px) {
                        flex-wrap: nowrap;
                    }

                    @include setResponsiveDesign(1024px) {
                        @include flexBasis(60%, 20px);
                    }

                    &_name {
                        @include flex1;
                        font-weight: 700;

                        @include setResponsiveDesign(900px) {
                            @include flex2;
                        }
                    }
    
                    &_email {
                        @include flex1;
                        font-size: $font-size-small;
                        padding-bottom: 10px;

                        @include setResponsiveDesign(900px) {
                            @include flex2;
                            padding-bottom: 0;
                        }
                    }
                }

                &_level, &_status, &_actions {
                    @include flex3(10px);
                    font-size: $font-size-small;
                }

                &_level, &_status {
                    @include setResponsiveDesign(500px) {
                        @include flex4(10px);
                    }

                    @include setResponsiveDesign(900px) {
                        @include flex3(10px);
                    }

                    @include setResponsiveDesign(1024px) {
                        @include flexBasis(10%, 20px);
                    }
                }

                &_status {
                    button {
                        @include button;
                        padding: 3px 6px;
                        background: none;
                        color: $color-neutral-grayish-blue-3;
                        border: 1px solid $color-neutral-grayish-blue-3;
                        @include flex(center, center, nowrap);

                        &:hover {
                            background: none;
                        }

                        i {
                            margin-right: 6px;
                            font-size: 0.6em;
                        }
                    }

                    &.active {
                        button {
                            color: $color-neutral-grayish-blue-1;

                            i {
                                color: $color-tertiary-success;
                            }
                        }
                    }
                }

                &_actions {
                    @include flex(flex-end);
                    column-gap: 20px;

                    @include setResponsiveDesign(500px) {
                        @include flex2(10px);
                    }

                    @include setResponsiveDesign(900px) {
                        @include flex3(10px);
                    }

                    @include setResponsiveDesign(1024px) {
                        @include flexBasis(10%, 20px);
                    }

                    button {
                        background: none;
                        border: none;
                        cursor: pointer;
                        font-size: $font-size-small;

                        &.edit {
                            color: $color-neutral-grayish-blue-2;
                        }

                        &.delete {
                            color: $color-tertiary-error;
                        }
                    }
                }
            }
        }

        &_count {
            padding: 20px 12px;
            background-color: $color-neutral-blue-2;
            margin: 40px 0;

            @include borderRadius;

            @include setResponsiveDesign(900px) {
                padding: 20px;
            }
        }
    }
}