// Colors
//Light theme
$color-primary-blue-1: #103C82;

$color-neutral-blue-1: #EDF3FF;
$color-neutral-blue-2: #FAFBFF;

$color-neutral-grayish-blue-1: #232429;
$color-neutral-grayish-blue-2: #484a53;
$color-neutral-grayish-blue-3: #B4B7C1;

$color-tertiary-success: #30D18D;
$color-tertiary-error: #D14B30;

$color-background-light: #FBFBFB;

// Font
$font-poppins: 'Poppins', sans-serif;

$font-color-default: $color-neutral-grayish-blue-2;

$font-size-default: 1rem;
$font-size-big: 1.4rem;
$font-size-small: 0.8rem;