@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #484a53;
  background-color: #FFF;
}
body h1, body h2 {
  color: #232429;
}

.main_header {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #B4B7C1;
}
.main_header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.main_header_content_title h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}
@media screen and (min-width: 500px) {
  .main_header_content_title h1 {
    font-size: 1.4rem;
  }
}

.main_users {
  width: 100%;
  margin-top: 40px;
}
.main_users_content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.main_users_content_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 500px) {
  .main_users_content_header {
    row-gap: 0;
  }
}
.main_users_content_header_title {
  flex-basis: 100%;
}
@media screen and (min-width: 500px) {
  .main_users_content_header_title {
    flex-basis: 50%;
  }
}
.main_users_content_header_title h2 {
  font-size: 1.4rem;
}
.main_users_content_header_create {
  flex-basis: 100%;
}
@media screen and (min-width: 500px) {
  .main_users_content_header_create {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
}
.main_users_content_header_create button {
  display: inline-block;
  border: none;
  background-color: #103C82;
  color: #FFF;
  font-family: inherit;
  font-size: 0.8rem;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: all 0.4s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_users_content_header_create button i {
  margin-right: 10px;
}
.main_users_content_header_create button i {
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}
.main_users_content_selectall {
  padding: 20px 12px;
  background-color: #FAFBFF;
  margin-bottom: 40px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
@media screen and (min-width: 900px) {
  .main_users_content_selectall {
    padding: 20px;
  }
}
.main_users_content_selectall input {
  margin-right: 10px;
}
.main_users_content_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.main_users_content_list_user {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  gap: 10px;
  padding: 20px 12px;
}
@media screen and (min-width: 900px) {
  .main_users_content_list_user {
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
  }
}
.main_users_content_list_user:nth-child(odd) {
  background-color: #FAFBFF;
}
.main_users_content_list_user_select {
  flex-basis: 10px;
}
@media screen and (min-width: 1024px) {
  .main_users_content_list_user_select {
    flex-basis: calc(3% - 20px);
  }
}
.main_users_content_list_user_photo {
  flex-basis: 50px;
}
@media screen and (min-width: 900px) {
  .main_users_content_list_user_photo {
    flex-basis: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .main_users_content_list_user_photo {
    flex-basis: calc(6% - 20px);
  }
}
.main_users_content_list_user_photo img {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.main_users_content_list_user_info {
  flex-basis: calc(100% - 20px - 60px - 10px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 900px) {
  .main_users_content_list_user_info {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1024px) {
  .main_users_content_list_user_info {
    flex-basis: calc(60% - 20px);
  }
}
.main_users_content_list_user_info_name {
  flex-basis: 100%;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .main_users_content_list_user_info_name {
    flex-basis: 50%;
  }
}
.main_users_content_list_user_info_email {
  flex-basis: 100%;
  font-size: 0.8rem;
  padding-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .main_users_content_list_user_info_email {
    flex-basis: 50%;
    padding-bottom: 0;
  }
}
.main_users_content_list_user_level, .main_users_content_list_user_status, .main_users_content_list_user_actions {
  flex-basis: calc(33.3333333333% - 10px);
  font-size: 0.8rem;
}
@media screen and (min-width: 500px) {
  .main_users_content_list_user_level, .main_users_content_list_user_status {
    flex-basis: calc(25% - 10px);
  }
}
@media screen and (min-width: 900px) {
  .main_users_content_list_user_level, .main_users_content_list_user_status {
    flex-basis: calc(33.3333333333% - 10px);
  }
}
@media screen and (min-width: 1024px) {
  .main_users_content_list_user_level, .main_users_content_list_user_status {
    flex-basis: calc(10% - 20px);
  }
}
.main_users_content_list_user_status button {
  display: inline-block;
  border: none;
  background-color: #103C82;
  color: #FFF;
  font-family: inherit;
  font-size: 0.8rem;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: all 0.4s ease 0s;
  padding: 3px 6px;
  background: none;
  color: #B4B7C1;
  border: 1px solid #B4B7C1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main_users_content_list_user_status button i {
  margin-right: 10px;
}
.main_users_content_list_user_status button i {
  margin-right: 6px;
  font-size: 0.6em;
}
.main_users_content_list_user_status.active button {
  color: #232429;
}
.main_users_content_list_user_status.active button i {
  color: #30D18D;
}
.main_users_content_list_user_actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}
@media screen and (min-width: 500px) {
  .main_users_content_list_user_actions {
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (min-width: 900px) {
  .main_users_content_list_user_actions {
    flex-basis: calc(33.3333333333% - 10px);
  }
}
@media screen and (min-width: 1024px) {
  .main_users_content_list_user_actions {
    flex-basis: calc(10% - 20px);
  }
}
.main_users_content_list_user_actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}
.main_users_content_list_user_actions button.edit {
  color: #484a53;
}
.main_users_content_list_user_actions button.delete {
  color: #D14B30;
}
.main_users_content_count {
  padding: 20px 12px;
  background-color: #FAFBFF;
  margin: 40px 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
@media screen and (min-width: 900px) {
  .main_users_content_count {
    padding: 20px;
  }
}

.main_footer {
  width: 100%;
}
.main_footer_content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 0.8rem;
  text-align: center;
  color: #B4B7C1;
}
.main_footer_content a {
  text-decoration: none;
  color: #232429;
  font-size: inherit;
}
.main_footer_content a:hover {
  text-decoration: underline;
}